<% user_to_profile_ids = @settings['user_to_profile_ids'] || [] %>

<div style="padding: 10px;">
<table style="width: 100%;" class="plugin_settings">

  <tr class="rmp-settings-group">
    <td></td>
    <td><%= l(:label_profiler_settings) %></td>
  </tr>

  <tr>
    <td style="width: 33%;"></td>
    <td>
      <%= check_box_tag 'settings[enable_oink]', true, @settings['enable_oink'] %>
      <%= label_tag 'settings_enable_oink', ('&mdash; ' + l(:settings_enable_oink)).html_safe %>
      <a href="#" rel="tooltip" data-original-title="<%= l(:info_oink) %>" class="icon icon-inform"></a>
    </td>
  </tr>

  <tr>
    <td style="width: 33%;"></td>
    <td>
      <%= check_box_tag 'settings[enable_profiling]', true, @settings['enable_profiling'] %>
      <%= label_tag 'settings_enable_profiling', ('&mdash; ' + l(:settings_enable_profiling)).html_safe %>
    </td>
  </tr>


  <tr>
    <td>
      <%= l(:settings_user_to_profile) %>
      <a href="#" rel="tooltip" data-original-title="<%= l(:label_only_this_user) %>" class="icon icon-inform"></a></td>
    <td>
      <%= select_tag 'settings[user_to_profile_ids][]',
                      options_from_collection_for_select(User.active.sort_by(&:name), 'id', 'name', user_to_profile_ids),
                      { class: 'select2', multiple: true } %>
    </td>
  </tr>

<% if Rails.env.development? %>
  <tr>
    <td style="width: 33%;"></td>
    <td>
      <%= check_box_tag 'settings[enable_assets_listeners]', true, @settings['enable_assets_listeners'] %>
      <%= label_tag 'settings_enable_assets_listeners', ('&mdash; ' + l(:settings_enable_assets_listeners)).html_safe %>
      <a href="#" rel="tooltip" data-original-title="<%= l(:label_on_the_fly_info) %>" class="icon icon-inform"></a>
    </td>
  </tr>
<% else %>
  <tr>
    <td></td>
    <td>
      <%= l(:settings_server_in_production) %>
    </td>
  </tr>
<% end %>
</table>
</div>


<div id="rmplus-logo" style="text-align: left; margin-top: 10px;">
  <div style="border: 1px solid #E4E4E4; padding: 5px;">
  <%= image_tag 'logo.png', plugin: :rmplus_devtools, alt: l(:label_rmplus_logo), title: l(:label_rmplus_logo), width: 104, height: 39, style: 'vertical-align: bottom;' %>
  <span style="font-size: 12pt; margin-left: 5px;">
    <%= l(:label_rmplus_logo) %>&nbsp<a href="http://rmplus.pro">http://rmplus.pro</a>.
  </span>
  </div>
</div>
